# set client colors

# clientclass                   border       backgr.      text        indicator
client.focused                  $S_base0     $S_green     $S_base3    $S_blue
client.focused_inactive         $S_base0     $S_cyan      $S_base2    $S_violet
client.unfocused                $S_base0     $S_base02    $S_base1    $S_base01
client.urgent                   $S_base0     $S_yellow    $S_base3    $S_orange

# bar and status config
bar {
        colors {
                # status
                background $S_base3
                statusline $S_base1
                separator  $S_base1

              # workspace          border     background  text

                focused_workspace  $S_base3   $S_green    $S_base03
                active_workspace   $S_base3   $S_violet   $S_base03
                inactive_workspace $S_base3   $S_base2    $S_base03
                urgent_workspace   $S_base3   $S_magenta  $S_base03

        }
        position top
        status_command i3status -c ~/.config/i3/i3status.conf
}
