# default theme, currently solarized dark

# Solarized (Dark) colours
set $S_base03        #fdf6e3
set $S_base02        #eee8d5
set $S_base01        #93a1a1
set $S_base00        #839496
set $S_base0         #657b83
set $S_base1         #586e75
set $S_base2         #073642
set $S_base3         #002b36
set $custom          #e1cab3

# Solarized accent colours
set $S_yellow        #b58900
set $S_orange        #cb4b16
set $S_red           #dc322f
set $S_magenta       #d33682
set $S_violet        #6c71c4
set $S_blue          #268bd2
set $S_cyan          #2aa198
set $S_green         #859900
