# workspaces

set $ws1 "1: term"
set $ws2 "2: java"
set $ws3 "3: text"
set $ws4 "4: git"
set $ws5 "5: aws"
set $ws6 "6: web"
set $ws7 "7: databases"
set $ws8 "8: music"
set $ws9 "9: slack"
set $ws10 "10: misc"
set $ws11 "####"

# assignments
assign [class="jetbrains-idea"] $ws2
assign [class="Eclipse$"] $ws2
assign [class="EclipseTrader"] $ws10
assign [class="eclipsetrader"] $ws10
assign [class="^[Ss]ublime_text$"] $ws3
assign [class="meld"] $ws4
assign [class="Meld"] $ws4
assign [class="chromium$"] $ws6
assign [class="Chromium$"] $ws6
assign [class="gitg"] $ws4
assign [class="Gitg"] $ws4
assign [class="spotify"] $ws8
assign [class="Spotify"] $ws8
assign [class="Slack"] $ws9
assign [class="Mail"] $ws9

# postman
assign [title="^[Pp]ostman$"] $ws6

# databases
assign [title="^Oracle SQL Developer .*"] $ws7
assign [title="^Dbeaver$"] $ws7
assign [class="^DBeaver$"] $ws7
assign [class="mysql-workbench-bin"] $ws7
assign [class="sun-awt-X11-XFramePeer"] $ws7

# sticky/floating window modifiers
for_window [title="nvPY"] floating enable sticky enable resize set 640 480

# # i3-gaps

# # set global gaps
# set $default_gaps_inner 10
# set $default_gaps_outer 0

# gaps inner $default_gaps_inner
# gaps outer $default_gaps_outer

# # override global gaps individually
# workspace $ws3 gaps outer 0
# workspace $ws3 gaps inner 0
