bindsym $mod+r mode "resize"

# resize window
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.

        # arrow key bindings
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

    # fine tuning bindings
    bindsym $mod+Left resize shrink width 5 px or 5 ppt
        bindsym $mod+Down resize grow height 5 px or 5 ppt
        bindsym $mod+Up resize shrink height 5 px or 5 ppt
        bindsym $mod+Right resize grow width 5 px or 5 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}
